<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Class Journal</title>
    <style>
        .note {
            border: 2px solid #DBB988;
            padding: 10px;
            background-color: #FFF5E5;
            border-radius: 5px;
            margin-bottom: 15px;
        }

        .note-date {
            font-size: 0.8em;
            color: #888;
        }
    </style>
</head>
<body>
<h2>This is Chang Xu's Individual Assignment (Environment Set Up)</h2>

<button onclick="window.location.href = 'create_new_note.html';">Create</button>

<div class="note" action="#" th:action="">
    <h3>Note Title 1</h3>
    <p>Note Details</p>
    <p class="note-date">10/3/2023</p>
</div>

<div class="note">
    <h3>Note Title 2</h3>
    <p>Note Details</p>
    <p class="note-date">10/4/2023</p>
</div>

</body>
</html>